<div class="nav">
  <%= link_to root_path, class:"logo" do %>
    Home
  <% end %>
  <div class="d-flex">
    <% if user_signed_in? %>
      <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "btn-blue" %>
    <% else %>
      <%= link_to  "LOG IN", new_user_session_path, class: "link-orange px-5" %>
      <%= link_to  "GET STARTED", new_user_registration_path, class: "btn-orange" %>
    <% end %>
  </div>
</div>
